<div id="upload-card"
     class="my-4 relative bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    {% block form %}
        <form
            hx-target="#upload-progress"
            hx-post="{% url "documents:upload" %}"
            id="upload-form"
            hx-encoding='multipart/form-data'>
            {{ form }}
        </form>

    {% endblock form %}
    <input hx-indicator=".htmx-indicator.upload" id="upload-button" form="upload-form" type="submit"
           value="{% trans "Soumettre" %}"
           class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">

    {% if user_has_existing_documents %}
        <a hx-get="{% url "documents:select" %}" hx-target="#upload-card" hx-swap="outerHTML transition:true"
           class="cursor-pointer px-5 py-2.5 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-gray-500 text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition-all text-sm dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-offset-gray-800">
            {% trans "Sélectionner existant" %}
        </a>

    {% endif %}
    <div id="upload-progress"></div>

    <div class="htmx-indicator upload absolute top-0 left-0 w-full h-full bg-white/[.5] rounded-md dark:bg-gray-800/[.4]"></div>

    <div class="htmx-indicator upload absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <div class="animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-blue-600 rounded-full"
             role="status" aria-label="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>
