{% extends "base.html" %}

{% block content %}
    <div
        class="bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <h1 class="mb-2 text-xl font-bold text-gray-800 dark:text-white">
            {% trans "Modifier votre profile" %}
        </h1>
        {% block form %}
            <form method="post" id="edit-form">
                {% csrf_token %}
                {{ form }}
            </form>

        {% endblock form %}
        <button form="edit-form" type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            {% trans "Enrégister" %}
        </button>

    </div>
{% endblock content %}


