{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <script src="{% static 'vendors/tom-select/tom-select.complete.min.js' %}"></script>
{% endblock extra_head %}
{% block content %}
    <div
        class="bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <h1 class="mb-2 text-xl font-bold text-gray-800 dark:text-white">
            {% trans "Modifier votre profile" %}
        </h1>
        {% block form %}
            <form method="post" id="edit-form">
                {% csrf_token %}
                {{ form }}
            </form>
            <!-- <div class="my-4 hs-tooltip flex items-center">
                <input type="checkbox" id="hs-tooltip-example" class="sp_notify_prompt hs-tooltip-toggle relative shrink-0 w-[3.25rem] h-7 bg-gray-100 checked:bg-none checked:bg-blue-600 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 border border-transparent ring-1 ring-transparent focus:border-blue-600 focus:ring-blue-600 ring-offset-white focus:outline-none appearance-none dark:bg-gray-700 dark:checked:bg-blue-600 dark:focus:ring-offset-gray-800

                                                                      before:inline-block before:w-6 before:h-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:shadow before:rounded-full before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-gray-400 dark:checked:before:bg-blue-200">
                <label for="hs-tooltip-example" class="text-sm text-gray-500 ml-3 dark:text-gray-400">Allow push
                    notifications</label>
                <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                     role="tooltip">
                    Enable push notifications
                </div>
            </div> -->
        {% endblock form %}
        <button form="edit-form" type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            {% trans "Enrégister" %}
        </button>

    </div>


{% endblock content %}

{% block javascript %}
    <script>
        new TomSelect("#id_review_days", {
            plugins: {
                remove_button: {
                    title: 'Remove this item',
                }
            },
            persist: false,
            createOnBlur: true,
            create: true
        });
        new TomSelect("#id_timezone");
    </script>
{% endblock javascript %}
