{% extends "base.html" %}

{% block breadcrumb %}
    {% trans "Cartes" as menu %}
    {% trans "Nouvelle Carte" as sub_menu %}
    {% include "partials/breadcrumb.html" with menu=menu sub_menu=sub_menu %}
{% endblock breadcrumb %}

{% block content %}

    <div
        class="bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">

        <div class="mb-4">
            <h2 class=" text-xl font-bold text-gray-800 dark:text-white">
                {% translate "Cree une nouvelle carte" %}
            </h2>
            <p class="mt-1 text-xs font-medium uppercase text-gray-500 dark:text-gray-500">
                {% blocktrans %} Éviter des cartes trop complexe avec des réponses
                    longues, ça vous facilitera la tache et vous permettra d'etre plus consistant.
                    Essayer de faires des cartes qui ne vous prendrons que quelques secondes a compléter
                {% endblocktrans %}
            </p>
        </div>
        {% block form %}
            <form
                hx-post="."
                hx-target="this"
                hx-swap="outerHTML"
                method="post" id="create-form">
                {{ form }}
            </form>
        {% endblock form %}
        <button form="create-form" type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            {% trans "Soumettre" %}
        </button>
    </div>

{% endblock content %}
