{% for error in form.non_field_errors %}
  <div x-data="{ open: true }"
       x-show="open"
       id="dismiss-alert"
       class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 bg-red-50 border border-red-200 text-sm text-red-600 rounded-md p-4 my-2"
       role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        {% heroicon_outline "exclamation-circle" %}
      </div>
      <div class="ml-3">
        <div class="font-medium">
          {{ error }}
        </div>
      </div>
      <div class="pl-3 ml-auto">
        <div class="-mx-1.5 -my-1.5">
          <button @click="open = false"
                  type="button"
                  class="inline-flex rounded-md p-1.5 bg-red-100 text-red-500  focus:ring-2 focus:ring-offset-2 focus:ring-offset-teal-50 focus:ring-red-400 p-1.5 hover:bg-red-200 dark:hover:bg-red-300 dark:bg-red-200 dark:text-red-600"
          >
            <span class="sr-only">{% trans "Fermez" %}</span>
            {% heroicon_outline "x-circle" %}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}




