{% load static %}
{% load django_htmx %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>leerming</title>
        {% compress css %}
            <link rel="stylesheet" href="{% static "css/tailwind.css" %}">
        {% endcompress %}
        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
        <script defer src="{% static 'vendors/htmx/htmx.min.js' %}"></script>
        {% django_htmx_script %}
  <!-- TODO: download to serve locally -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    </head>
    <body class="container mx-auto" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        {% block content %}
        {% endblock content %}

        {% block javascript %}{% endblock javascript %}
    </body>
</html>
