{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
    <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <div class="p-4 sm:p-7">
            <div class="text-center">
                <h1
                    class="block text-2xl font-bold text-gray-800 dark:text-white">{% translate "Plannifié vos seances d'apprentissage" %}</h1>
                <p
                    class="mt-2 mb-4 text-sm text-gray-600 dark:text-gray-400">{% blocktrans %}Choissizer les jours et l'heure a
                        laquelle vous souhaitez effectuer vos seances de revisons, vous receverz une notification a l'heure definit.
                        Vous pouvez modifier plus tard changer ces valeurs sur votre profil.{% endblocktrans %}</p>
            </div>

            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="{% translate "Soumettre" %}"
                       class="py-3 px-4  w-full rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        new TomSelect("#id_review_days", {
            plugins: {
                remove_button: {
                    title: 'Remove this item',
                }
            },
            persist: false,
            createOnBlur: true,
            create: true
        });
    </script>
{% endblock javascript %}
