{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Plannifier vos seances d'apprentissage" %}</h1>
    <p>{% translate "Ne vous inquieter pas, vous pourriez mettre a jour vos preferences sur votre profile" %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% translate "Soumettre" %}"
               class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none text-sm w-full sm:w-auto px-5 py-2.5">
    </form>
{% endblock content %}

{% block javascript %}
    <script>
        new TomSelect("#id_review_days", {
            plugins: {
                remove_button: {
                    title: 'Remove this item',
                }
            },
            persist: false,
            createOnBlur: true,
            create: true
        });
    </script>
{% endblock javascript %}
