{% extends "base.html" %}

{% block breadcrumb %}
    {% trans "Cartes" as menu %}
    {% trans "Nouvelle Carte" as sub_menu %}
    {% include "partials/breadcrumb.html" with menu=menu sub_menu=sub_menu %}
{% endblock breadcrumb %}

{% block content %}

    <div class="flex mb-4 justify-end">
        <div class="flex bg-gray-100 hover:bg-gray-200 rounded-lg transition p-1 dark:bg-gray-700 dark:hover:bg-gray-600">
            <nav class="flex space-x-2" aria-label="Tabs" role="tablist">

                <a href="{% url 'flashcards:create' %}" type="button"
                   class="hs-tab-active:bg-white hs-tab-active:text-gray-700 hs-tab-active:dark:bg-gray-800 hs-tab-active:dark:text-gray-400 dark:hs-tab-active:bg-gray-800 py-3 px-4 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-md hover:hover:text-blue-600 dark:text-gray-400 dark:hover:text-gray-300  active"
                   id="segment-item-2" data-hs-tab="#segment-2" aria-controls="segment-2" role="tab">
                    Manuelle
                </a>
                <a href="{% url 'flashcards:create_from_document' %}" type="button"
                   class="hs-tab-active:bg-white hs-tab-active:text-gray-700 hs-tab-active:dark:bg-gray-800 hs-tab-active:dark:text-gray-400 dark:hs-tab-active:bg-gray-800 py-3 px-4 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-md hover:hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
                   id="segment-item-1" data-hs-tab="#segment-1" aria-controls="segment-1" role="tab">
                    Avancé
                </a>
            </nav>
        </div>
    </div>

    <div class="bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <div class="my-3">
            <h1 class="text-xl font-bold text-gray-800 dark:text-white">
                {% translate "Cree une nouvelle carte" %}
            </h1>
            <p class="mt-1 text-sm md:text-md  font-medium  text-gray-500 dark:text-gray-500">
                {% blocktrans %} Éviter des cartes trop complexe avec des réponses
                    longues, ça vous facilitera la tache et vous permettra d'etre plus consistant.
                    Essayer de faires des cartes qui ne vous prendrons que quelques secondes a compléter
                {% endblocktrans %}
            </p>
        </div>

        {% partialdef form inline=True %}
            <form
                hx-post="."
                hx-target="this"
                hx-swap="outerHTML"
                method="post" id="create-form">
                {{ form }}
            </form>
        {% endpartialdef form %}
        <button form="create-form" type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            {% trans "Enrégistrer" %}
        </button>
    </div>

{% endblock content %}

{% block javascript %}
    <script>
        new TomSelect("#id_topic", {
            create: true,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
    </script>
{% endblock javascript %}
