{% extends "base.html" %}
{% load humanize %}

{% block breadcrumb %}
    {% trans "Cartes" as menu %}
    {% include "partials/breadcrumb.html" with menu=menu %}
{% endblock breadcrumb %}

{% partialdef card_answer %}
    <div id="flashcard-{{ flashcard.id }}"
         hx-get="{% url 'flashcards:show_question' flashcard.pk %}" hx-target="this" hx-swap="outerHTML"
         class="flex flex-col justify-center border cursor-pointer shadow-sm rounded-md p-4 md:p-5 text-white bg-teal-700 dark:border-teal-900">
        <p>{{ flashcard.answer_display }}</p>
    </div>
{% endpartialdef card_answer %}


{% block content %}
    <header class="mb-6">
        <h1 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">{% trans "Vos Cartes" %}
            - {{ total_count }}</h1>
        <p class="mt-2 text-lg text-gray-800 dark:text-gray-400">{% blocktrans %} Toutes vos cartes de révisions, vous
            pouvez cliquer sur une carte pour voir la réponses associé.
            Toute les nouvelles carte commence avec le niveau difficile pour qu'elle soit evaluer des la prochaine
            revision,
            mais vous avez la possibilite de la mettre au niveau de votre choix (ce qui n'est pas
            recommander){% endblocktrans %}</p>
        <div class="mt-5 flex flex-col items-center gap-2 sm:flex-row sm:gap-3">
            <a href="{% url 'flashcards:create' %}"
               class="w-full sm:w-auto inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800">
                {% heroicon_outline "plus" width="16" height="16" %}
                {% translate "Nouvelle carte(s)" %}
            </a>
        </div>
    </header>

    <form hx-get="."
          hx-indicator=".htmx-indicator"
          hx-target="#flashcards"
          hx-trigger="keyup change delay:500ms, change, search"
          class="my-5 flex flex-col xl:flex-row gap-2">
        {{form}}
    </form>

    <div id="flashcards">
        {% partialdef flashcards inline=True %}

            <div class="relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 sm:gap-6">
                {% for flashcard in page_obj %}
                    {% partialdef card_question inline=True %}
                        <div id="flashcard-{{ flashcard.id }}"
                             class="flex flex-col justify-between max-w-2xl px-8 py-4 bg-white border shadow-sm  rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                            <div class="flex items-center justify-between">
                                <span class="text-sm font-light text-gray-600 dark:text-gray-400">
                                    {{ flashcard.topic|default:"" }}
                                </span>

                                <span
                                    {% if flashcard.difficulty == 'HARD' %}
                                        class="px-3 py-1 text-sm font-bold bg-red-500 text-white rounded"
                                    {% elif flashcard.difficulty == 'MEDIUM' %}
                                        class="px-3 py-1 text-sm font-bold bg-yellow-500 text-white rounded"
                                    {% else %}
                                        class="px-3 py-1 text-sm font-bold bg-green-500 text-white rounded"
                                    {% endif %}
                                    tabindex="0" role="button">{{ flashcard.get_difficulty_display }}</span>
                            </div>

                            <div class="mt-2">
                                <p hx-get="{% url 'flashcards:show_answer' flashcard.pk %}"
                                   hx-target="#flashcard-{{ flashcard.pk }}" hx-swap="outerHTML"
                                   class="mt-2 text-gray-800 dark:text-gray-400 cursor-pointer">{{ flashcard }}</p>

                            </div>

                            <div class="flex items-center justify-between mt-4">

                                {% if flashcard.next_review_date %}
                                    <p class="text-md text-gray-500 dark:text-gray-500">
                                        {{ flashcard.next_review_date|naturalday }}
                                    </p>
                                {% else %}
                                    <p class="text-md text-gray-500 dark:text-gray-500">
                                        {% trans "Prochaine révision" %}
                                    </p>
                                {% endif %}

                                <a href="{% url 'flashcards:edit' flashcard.pk %}"
                                   class="py-[.688rem] px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-gray-200 font-semibold text-blue-500 hover:text-white hover:bg-blue-500 hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:border-gray-700 dark:hover:border-blue-500">
                                    {% trans "Édité" %}
                                    {% heroicon_outline "pencil" width="15" height="15" %}
                                </a>
                            </div>
                        </div>
                    {% endpartialdef card_question %}
                {% endfor %}


                <div class="htmx-indicator absolute top-0 left-0 w-full h-full bg-white/[.5] rounded-md dark:bg-gray-800/[.4]"></div>

                <div class="htmx-indicator absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    <div class="animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-blue-600 rounded-full"
                         role="status" aria-label="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>

            <div
                class="mt-5 px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center">
                <div class="">
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                        <span class="font-semibold text-gray-800 dark:text-gray-200">{{ page_obj|length }}</span> {% trans "résultats sur" %} <span
                            class="font-semibold text-gray-800 dark:text-gray-200">{{ page_obj.paginator.count }}</span>
                    </p>
                </div>

                <div>
                    <div class="inline-flex gap-x-2">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'flashcards:index' %}?page={{ page_obj.previous_page_number}}"
                               class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                <svg class="w-3 h-3" width="16" height="16" viewBox="0 0 16 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.506 1.64001L4.85953 7.28646C4.66427 7.48172 4.66427 7.79831 4.85953 7.99357L10.506 13.64"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                </svg>
                                Prev
                            </a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="{% url 'flashcards:index' %}?page={{ page_obj.next_page_number}}"
                               class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                Next
                                <svg class="w-3 h-3" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.50598 2L10.1524 7.64645C10.3477 7.84171 10.3477 8.15829 10.1524 8.35355L4.50598 14"
                                          stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endpartialdef flashcards %}

    </div>

{% endblock content %}
